.line {
	position: absolute;
	bottom: -7px;
	left: 0;

	width: 100%;
	height: 1.5px;
	margin: 0 auto;

	border: none;

	background-color: var(--primary);
}

.rhombus {
	position: absolute;
	bottom: -8px;

	padding: 2px;

	transform: rotate(45deg);

	background-color: var(--primary);
}

.leftRhombus {
	left: 0;
}

.rightRhombus {
	right: 0;
}

.lineUp {
	top: -6px;
	bottom: initial;
}

.rhombusUp {
	top: -7px;
	bottom: initial;
}
