.common {
  height: 48px;
  margin: 0 8px 8px 0;
  background: #ffffff;
  border: 1px solid #e2e3e5;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: var(--inter);
  font-weight: 500;
  color: black;
}

.common:active {
  border: 2px solid var(--primary);
}

.s {
  width: 52px;
}
.m {
  width: 72px;
}
.l {
  width: 152px;
}
.equals {
  width: 232px;
  height: 64px;
  color: white;
  background-color: var(--primary);
}
