.dropAreaUpEquals {
  height: 42px;
  top: -6px;
}
.dropAreaBotEquals {
  height: 42px;
  top: 36px;
}

.dropAreaUpNumbers {
  height: 118px;
  top: -6px;
}
.dropAreaBotNumbers {
  height: 118px;
  top: 112px;
}

.dropAreaUpOperations {
  height: 35px;
  top: -6px;
}
.dropAreaBotOperations {
  height: 35px;
  top: 29px;
}

.dropAreaFullDisplay {
  height: 66px;
  top: 0;
}

.cursorDisabledDisplay {
  cursor: not-allowed;
}
