.display {
  background-color: var(--grey-bg);
  border: none;
  border-radius: 6px;
  color: #111827;
  text-align: right;
  padding: 4px 8px;
  outline: none;
  font-family: var(--inter);
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  height: 52px;
  width: 232px;
}
